* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Durer';
    src: url("../font/Durer.ttf");
}

.content {
    width: 100%;
    position: relative;
}

img {
    width: 100%;
    box-sizing: border-box;
}

.text1 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.scroll {
    color: black;
    font-size: 1.5vw;
    font-family: 'Durer';
    position: absolute;
    right: 5%;
    bottom: 10%;
    transform: rotate(90deg);
    cursor: pointer;
}

.compass {
    width: 13%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
}

.content_text {
    position: absolute;
    width: 80%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #947147;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.geographical {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #947147;
    font-family: 'Durer';
    font-size: 2vw;
    bottom: 12%;
}

.geogPos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #947147;
    font-family: 'Durer';
    font-size: 3vw;
    bottom: 5%;
}

.Cloud {
    position: absolute;
    width: 30%;
    right: 0;
    top: 5%;
    animation: Cloud 3s linear infinite alternate;
}

@keyframes Cloud {
    from {
        right: 0;
    }
    to {
        right: 5%;
    }
}
.briefIntroduction{
    position: absolute;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #947147;
    font-family: 'Durer';
    font-size: 20px;
    top: 15%;
}
.area{
    position: absolute;
    width: 30%;
    left: 30%;
    color: #947147;
    font-family: 'Durer';
    font-size: 3vw;
    top: 40%;
}
.population{
    position: absolute;
    width: 30%;
    left: 20%;
    color: #947147;
    font-family: 'Durer';
    font-size: 3vw;
    top: 35%;
}
.GDP{
    position: absolute;
    width: 30%;
    left: 20%;
    color: #8B9A9D;
    font-family: 'Durer';
    font-size: 3vw;
    top: 45%;
}
.nationalDay{
    position: absolute;
    width: 60%;
    right: 5%;
    color: #8B9A9D;
    font-family: 'Durer';
    font-size: 2.5vw;
    bottom: 20%;
    text-align: right;
}
.annualPrecipitation{
    position: absolute;
    width: 60%;
    right: 5%;
    color: #8B9A9D;
    font-family: 'Durer';
    font-size: 2.5vw;
    bottom: 10%;
    text-align: right;
}
.Next{
    position: absolute;
    left: 5%;
    color: #8B9A9D;
    font-family: 'Durer';
    font-size: 2.5vw;
    bottom: 10%;
}
.home{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #8B9A9D;
    font-family: 'Durer';
    font-size: 3vw;
}
